/*----------------------------------------------------
General
-----------------------------------------------------*/
a:link, a:visited, a:active, a:hover {
    color:black;
    text-decoration: underline;
}

h1, h2, h3 {
    text-align:left;
}

h2 {
    color:darkred;
}

#image {
  float:right;
}
#content {
    padding:25px;
    width:70%;
    max-width:960px;
    margin:auto;
}

section {
    text-align:left;
}

p {
    text-align:left;
}

.message {
    width:50%;
    padding:5px;
    text-align:center;
    font-size:18px;
    background-color:rgba(24, 188, 156, 0.28);
}

.error {
    margin-top:10px;
}

.error ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

/*----------------------------------------------------
Nav bar
-----------------------------------------------------*/
nav {
    border-top:1px solid darkred;
    border-bottom:1px solid darkred;
}

nav ul {
    margin:0;
    padding:0;
    list-style-type:none;
}

nav ul li {
    display:inline-block;
    padding:10px;
}

nav ul li a:link {
    text-decoration:none;
    font-weight:bold;
    text-transform:uppercase;
}

nav ul li a:hover {
    color:darkred;
}

/* Nav bar dropdown buttons */
.dropbtn {
    background-color: white;
    text-transform:uppercase;
    font-weight:bold;
    border: none;
}

.dropbtn {
    background-color: white;
    text-transform:uppercase;
    font-weight:bold;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 4px 4px;
    display: block;
}

.dropdown-content a:hover {
    color: darkred;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*----------------------------------------------------
Forms
-----------------------------------------------------*/
label {
    display:block;
    margin-top:20px;
    margin-bottom:0;
}

input[type=text], input[type=email], textarea, select {
    display:block;
    width:50%;
    font-size:1.5rem;
    padding:3px;
    font-family:Consolas, Courier, monospace;
}

input[type=submit] {
    margin-top:10px;
    background-color:darkred;
}

input[type=reset] {
    margin-top:10px;
    background-color:darkgray;
}

input[type='checkbox'] {
    display:inline;
}

input[type='checkbox'] + label {
    display:inline;
}

#classrooms {
    text-align:left;
    list-style-type:none;
    margin:0;
    padding:0;
}

#classrooms label {
    font-weight:normal;
}

label {
    margin-top:20px;
    display:block;
    font-size:12px;
    letter-spacing:.75px;
    font-weight:bold;
    text-transform:uppercase;
    text-align:left;
}
